dist.gitkeep.DS_Store.env.development*.png*.jpg*.jpeg*.svg*.log*.handlebars*.eot*.woff*.otf*.ttf*.woff2*.ejs*.snap*.webm*.webp*.drawio.editorconfigCODEOWNERSDockerfile.template.npmrc.vscode.gitignore*/.gitignore*/npmignore*/prettierignore.github/deploy/build.zip*.sh.nvmrc.prettierignore.eslintignore.yalc/.yarn/.idea/.yarnrcyalc.lockyarn.lockbuild/favicon.icosonar-project.properties.graphqlconfigcert.pemkey.pem.github/.huskyschema.graphql.dccache*.pdf*.d.ts*.js